body{
    background-color: #262e3b;;

}

.img{
    margin-top: 80px;
   width: 100%;
   margin-bottom: 20px;
}
.image {
    height: 200px;
    position: relative;
    display: flex;

    align-items: center;
    cursor: default;
    
    width: auto;
    margin: 0 auto; 
 
}

.text {
    text-align: center;
    margin-top: 10px;
}
.texte1 {
    margin: auto;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    color: #e6ebef;
    align-items: center;
    position: relative;
    display: inline-block;
    
    
}
.texte {
    margin: auto;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 30px;
    color: #e6ebef;
    align-items: center;
    position: relative;
    display: inline-block;
    text-decoration: none; 
}

.texte::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #7A90A4;
    border-radius: 100px;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 0.3s ease-in-out;
}

.texte:hover::before {
    transform: scaleX(1);
}
.image{
    border-radius: 50%;
}
.l2 {
    position: relative;
    background-color: rgba(49, 49, 49, 0.5);
    backdrop-filter: blur(4px);
    padding: 16px;
    border-radius: 1000px;
    height: 22px;
    width: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.l2:hover {
    background-color: rgba(71, 71, 71, 0.5);
}

.links {
    margin-bottom: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne verticalement les boutons */
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 20px;
}
.button {
    fill:#7A90A4; /* Applique la couleur de remplissage au SVG */
}
.l2:hover {
    fill: #B8CBD0; /* Applique la couleur de remplissage au SVG */
}

